<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h2>Edit the Post</h2>
    <p>Post id: <%=post.id%> </p>
    <p>Post username: @<%=post.username%>  </p>
    <p>Post content: <%=post.content%>  </p>
    <form  method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea rows="10" cols="35" name="content"> <%=post.content%> </textarea>
        <button>Submit</button>  <!--submiting form will do a patch request to server-->
    </form>
</body>
</html>